@media (max-width: 991px) {
    .top__image-inner {
        width: 90%;
    }
    .icon-video-camera::before {
        right: 50px;
    }
    .top__image {
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .top__image-inner {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .top__image {
        width: 323px;
    }

    .row {
        width: 120%;
    }

    .top__image-inner {
        width: 90%;
    }
    .header__inner {
        padding: 0;
    }
}